{% load staticfiles %}
{% load fatecore_extras %}

<html>
<head>
  <title>{% block title %}Default Title{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'fatecore/stylesheets/base.css' %}" />
  {% block stylesheets %}{% endblock %}
  <script type="text/javascript" src="{% static 'fatecore/js/jquery-1.11.0.min.js' %}"></script>
  {% block scripts %}{% endblock %}
</head>
<body>
  <div id="mainContainer">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
