{% extends 'fatecore/base.html' %}
{% load staticfiles %}

{% block title %}Create new character{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'fatecore/stylesheets/new.css' %}" />
{% endblock %}

{%block content %}
<form id="char" method="POST" action="/new">
<h3>
  Character Basics
</h3>
<div class="form">
  {{form.as_p}}
</div>
<h3>Aspects</h3>
<div class="aspect_form">
  {{aspect_form.as_p}}
</div>
<h3>Skills</h3>
<div class="skill_form">
  {% for sk in skill_form %}
  <div class="skill-instance">
    {{sk.as_p}}
  </div>
  {% endfor %}
</div>
<h3>Stunts</h3>
<div class="stunt_form">
  {{stunt_form.as_p}}
</div>
{% csrf_token %}
<button type="submit">Submit</button>
</form>
{% endblock %}
