@import "compass";

#{headings(2, 6)} {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  margin: 4px 0 4px 0;
}

.skill-table {
  td {
    width: 90px;
  }
}

.dice-block {
  width: 12px;
  height: 12px;
  margin-right: 2px;
  @include border-radius(4px);
  background-color: black;
  display: inline-block;
}

.stress {
  .physical, .mental {
    float: left;
    width: 300px;
    margin-right: 20px;
  }

  .checked {
    background-color: red;
  }
}

.clear {
  clear: both;
}

.stress-box {
  border: 1px solid black;
  width: 16px;
  height: 16px;
  display: inline-block;

  @include border-radius(4px);
}

.refresh {
  float: right;
  font-size: 24px;
  margin-top: -50px;

  span {
    padding: 5px;
    padding-left: 20px;
    width: 30px;
    border: 1px solid black;
    @include border-radius(20px);
    display: inline-block;
  }
}

.stunt {
  margin-bottom: 5px;
}

.stunt-name {
  font-weight: bold;
}

.stunt-description {
  margin-left: 5px;
  font-style: italic;
}
